/**Sommaire**/

/**Header**/
/**Présentation**/
/**Fonctionnement**/
/**Choix des restaurants**/
/**Footer**/

$color-primary: #9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

.btn-new
{
	position: absolute;
	padding: 5px;
	font-size: 0.6em;
	border-radius: 3px 3px 3px 3px;
	background-color: $color-tertiary;
	color: #008765;
	content: "Nouveau";
}

#bloc_page
{
	max-width: 600px;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}

body
{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

/**Header**/

.logo_ohmyfood 
{
	display: block;
	align-items: center;
	height: 50px;
	position: relative;
		& img 
		{
			width: 150px;
			height: 30px;
			display: block;
			margin-right: auto;
			margin-left: auto;
			margin-top: 10px;
		}
		.arrow
		{
			position: absolute;
			text-decoration: none;
			left: 30px;
			top: 7px;
			color:#353535;
		}
}


#recherches
{
	background-color:#eaeaea;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: inset 0px 5px 10px #c2c2c2;
}

#Ville {
	background-color:#eaeaea;
	border: none;
	text-align: center;
}

/**Présenttation**/

#presentation{
	background-color: #f4f4f4;
	padding-top: 10px;
	padding-bottom: 40px;
	text-align: center;
	box-sizing: border-box;
		h1{
			font-size: 1.6em;
			font-weight: 900;
			margin-top: 10px;
		}
		p{
			margin-bottom: 40px;
		}
		.btn__recherche
		{
			text-decoration: none;
			background-color: $color-secondary;
			color: white;
			border-radius: 25px 25px 25px 25px;
			padding: 15px;
			font-weight: 700;
			font-size: 0.8em;
			box-sizing: border-box;
		}
}

/**Fonctionnement**/

#fonctionnement
{
display: flex;
flex-direction: column;
justify-content: space-around;
		.fonct__titre
		{
		box-sizing: border-box;
		padding-left: 20px;
		padding-top: 40px;
		padding-bottom: 20px;
		margin: 0px;
		}
		.fonct__btn
		{
		position: relative;
		text-align: center;
		background-color: #f4f4f4;
		border-radius: 30px 30px 30px 30px;
		padding: 30px;
		margin: 20px;
		margin-left: 30px;
		box-shadow: 0px 0px 20px #c4c4c4;
		box-sizing: border-box;
		.fonct__links
		{
		text-decoration: none;
		color: black;
		font-weight: 600;
		}
		.fonct__logo
		{
			position: absolute;
			top: 50%;
			left: 50px;
			transform: translate(-50%,-50%);
			color: #969696;
		}
		.fonct__num
		{
			position: absolute;
			top: 50%;
			transform: translate(-50%,-50%);
			left: 0px;
			margin: 0px;
			color: white;
			font-weight: 500;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-right: 10px;
			padding-left: 10px;
			background-color: $color-primary;
			border-radius: 25px 25px 25px 25px;
		}
	}
}

/**Choix des retaurants**/

#restaurants
{
	background-color:#f4f4f4;
	margin-top:50px;
	.rest__titre
	{
	box-sizing: border-box;
	padding-left: 20px;
	padding-top: 40px;
	padding-bottom: 20px;
	margin: 0px;
	}
}
.vignettes
{
display: flex;
flex-direction: column;
	.vign__box
	{
		position: relative;
		width: 90%;
		height: 250px;
		margin-bottom: 30px;
		margin: 20px;
		border-radius: 20px 20px 20px 20px;
		box-shadow: 0px 0px 20px #b0b0b0;
		background-color: white;
		box-sizing: border-box;
		.vign__clic
		{
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			margin-bottom: 30px;
			border-radius: 20px 20px 20px 20px;
			box-sizing: border-box;
		
		}
		.vign__titre
		{
			margin-top: 10px;
			margin-bottom: 5px;
			margin-left: 10px;
		}
		.vign__ville
		{
			margin-top: 5px;
			margin-left: 10px;
		}
		.vign__coeur
		{
			position: absolute;
			font-size: 1.4em;
			right: 20px;
			bottom: 30px;
		}
		.btn-new
		{
			position: absolute;
			right: 10px;
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 5px;
			padding-bottom: 5px;
			font-size: 0.8em;
			border-radius: 3px 3px 3px 3px;
			background-color: $color-tertiary;
			color: #008765;
			box-sizing: border-box;
		}
		img
		{
			width: 100%;
			height: 70%;
			object-fit: cover;
			border-radius: 20px 20px 0px 0px;
			box-sizing: border-box;
		}
	}
}

/**Menu**/

.baniere
{ position: relative;
	img 
	{
		width: 100%;
		max-height: 250px;
		object-fit: cover;
		margin-bottom: -50px;
	}
}

#menu__header
{
	position: absolute;
	border-radius: 35px 35px 0px 0px;
	background-color: #f4f4f4;
	width: 100%;
	.menu__titre
	{
		font-family: 'Shrikhand', cursive;
		font-size: 1.6em;
		padding: 20px;
		margin: 0px;
		margin-top: 10px;
		box-sizing: border-box;
	}
}

#menu
{
	background-color: #f4f4f4;
	padding-top: 70px;

}

.menu__sous-titre
{
	width: 50px;
	margin-left: 20px;
	padding-bottom: 5px;
	font-weight: 500;
	font-size: 1.2em;
	border-bottom: 3px solid $color-tertiary;
	box-sizing: border-box;
}

.aliments
{
	display: flex;
	flex-wrap: wrap;
	border-radius: 15px 15px 15px 15px;
	background-color: white;
	box-shadow: 0px 0px 20px #c4c4c4;
	margin-left: 18px;
	margin-right: 18px;
	margin-bottom: 20px;
	box-sizing: border-box;
	.aliments__titre
	{
		width: 100%;
		padding: 10px;	
		padding-bottom: 5px;
		margin: 0px;
	}
	.aliments__desc
	{
		width: 80%;
		padding: 10px;
		padding-top: 0px;
		margin: 0px;
	}
	.aliments__prix
	{
		font-weight: 600;
		width: 10%;
		margin: 0px;
		padding-bottom: 10px;
	}
}


/**Footer**/

footer
{
	display: flex;
	flex-direction: column;
	background-color: #353535;
	padding: 20px;
	box-sizing: border-box;
	.foot__logo
	{
	font-family: 'Shrikhand', cursive;
	color: white;
	font-weight: 100;
	margin-top: 5px;
	}
	.foot__links
	{
		font-weight: 400;
		text-decoration: none;
		color: white;
		line-height: 30px;
		
	}
}